PORT=3001
MONGODB_URI=mongodb+srv://farazghani01_db_user:ssmSC7AHIDekLDJ0@cluster0.mblyarz.mongodb.net/?appName=Cluster0
REDIS_URL=redis://localhost:6379
ANTHROPIC_API_KEY=sk-cp-2dS1MyWr9AH37lcsVso21gSn6OzyWne6Aqj5iBBfT6LSEexRyZXPot95mPeuNrkQv4hYXGxffih2u2KygDGcRXFgKvHnvHaXXw4HuFNS2NgrGyhiVWWqZbU
FRONTEND_URL=http://localhost:3000
